// This file defines SCSS variables for colors, fonts, and other reusable styles to ensure consistency across the website.

$primary-color: #5F587D;
$secondary-color: #D0B2F5;
$accent-color: #ABCDFF;
$text-color: #FFFFFF;
$background-color: #353949;

$font-family-main: 'Jost', sans-serif;
$font-family-heading: 'Paytone One', sans-serif;

$border-radius: 8px;
$transition-speed: 0.3s;